.Weatherdetailstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #394867;
    padding: 2px;
    margin: 30px 25px 30px 0px;
    min-width: 140px;
    border: 5px solid #394867;
    border-radius: 12px;
    opacity: 0.6;
}

.detailWrapperStyle  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Day {
    font-size: 14px;
    color: white;
}

.Header {
    font-size: 20px;
    color: #9BA4B4;
    font-weight: bold;
    letter-spacing: 1px
}

.Img  {
    width: 75px;
    height: 70px
}

.Desc  {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
