.WeatherStyle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F7F9;
    padding: 2px;
    margin: 0px 25px 30px 0px;
    min-width: 100px;
    border: 5px solid #F1F6F9;
    border-radius: 12px;
}

.WeatherStyle1:hover {
    box-shadow: 0px -1px 6px #f1f6f9; 
    cursor: pointer;
}

.WeatherStyle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F6F9;
    padding: 2px;
    margin: 0px 25px 30px 0px;
    min-width: 130px;
    border: 5px solid #F1F6F9;
    border-radius: 12px;
    transform: scale(1.2);
    box-shadow: 0px -1px 8px #f1f6f9; 
}

.HeadingStyle {
    font-size: 18px;
    color: #394867;
    font-weight: bold;
    letter-spacing: 1px;
}

.ImgStyle {
    width: 60px;
    height: 60px;
}

.DescStyle {
    font-size: 16px;
    font-weight: bold;
    color: #394867;
}