* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #14274E;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Loading {
  text-align: center;
}

.LoadingText {
  font-size: 20px;
  color: white;
  margin: 20px 0px;
}

.Errorwrapper {
  background-color: rgb(255, 225, 225);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.Error {
  color: red;
  letter-spacing: 1.5px;
  font-size: 25px;
}

.Spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #F1F6F9 ;
  border-color: #394867 #9BA4B4;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}